


/*if the viewport is equal or less than 340*/
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-area .subscribe .subscribe-title,
    .site-main .subscribe-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }

    .site-main .subscribe-area .subscribe form .input-textbox input{
        width: 15rem !important;
    }

    .site-main > .services-area .services{
        width: 13rem;
    }
}

/*if the viewport is equal or less than 792*/
@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }

    .site-main .brand-area .experience-area .bg-panel{
        margin-left: 30%;
        width: 80%;
    }

    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }

    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }

    .site-main .subscribe-area .subscribe form .input-textbox input{
        width: 20rem;
        margin: 5%;
    }
}

/*if the viewport is equal or less than 1910*/
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area
    .site-main .test-area{
        padding: 3% 4%;
    }
}

/*if the viewport is equal or less than 1642*/
@media only screen and (max-width: 1642px){
    .header_area{
        box-shadow: var(--box-shadow);
        background: #131313;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .header_area .main-menu .navbar .container-fluid{
        margin-top: -12px;
        margin-bottom: -28px;
    }

    .header_area .main-menu .navbar .navbar-logo{
        width: 125px;
        height: 125px;
    }

    .header_area .main-menu .navbar .navbar-logo .navbar-title{
        font: normal 500 40px var(--roboto);
        transform: translateX(-11.5px) translateY(36px);
    }

    .header_area .main-menu .nav-item .nav-link{
        font: normal 500 15px/2px var(--roboto);
        text-transform: uppercase;
        padding: 1.3rem;
        color: var(--part-color);
    }
}

/*if the viewport is equal or less than 1460*/
@media only screen and (max-width: 1460px){
    .header_area{
        box-shadow: var(--box-shadow);
        background: #131313;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header_area .main-menu .navbar .container-fluid{
        margin-top: -15px;
        margin-bottom: -35px;
    }

    .header_area .main-menu .navbar .navbar-logo{
        width: 120px;
        height: 120px;
    }

    .header_area .main-menu .navbar .navbar-logo .navbar-title{
        font: normal 500 35px var(--roboto);
        transform: translateX(-11.5px) translateY(36px);
    }

    .header_area .main-menu .nav-item .nav-link{
        font: normal 500 12px/2px var(--roboto);
        text-transform: uppercase;
        padding: 1rem;
        color: var(--part-color);
    }

    .header_area .main-menu .navbar .navbar-logo .navbar-title{
        font: normal 500 40px var(--roboto);
        transform: translateX(-11.5px) translateY(36px);
    }

    .header_area .main-menu .navbar .navbar-text .para{
        font: normal 400 23px/28px var(--roboto);
        color: #ac5c00;
    }
}